.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(251, 251, 255);
    
  }
  
  .topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 
  
  .topRight{
      display: flex;
      align-items: center;
       
       margin-top: 10px;
  }
  .topLeft{
    display: flex;
    align-items: center;
  }
  
  
  
  
  .topAvatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 20px;
  }

  .SearchCenter{
    background-color:orange ;
    width:40px;
    height: 40px;
    
   
  display: flex;
  align-items: center;
  justify-content: center;
  }